.drop-zone {
    height: calc(var(--size) * 1.5);
}

.drop-zone div {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
}

.drop-zone .p1 {background-color: var(--p1);}
.drop-zone .p2 {background-color: var(--p2);}

/*move esquerda / direita em cima*/
.drop-zone .active {transition: all ease-in-out 500ms;}

.drop-zone .active.column-0 {margin-left: 0;}
.drop-zone .active.column-1 {margin-left: 100px;}
.drop-zone .active.column-2 {margin-left: 200px;}
.drop-zone .active.column-3 {margin-left: 300px;}
.drop-zone .active.column-4 {margin-left: 400px;}
.drop-zone .active.column-5 {margin-left: 500px;}
.drop-zone .active.column-6 {margin-left: 600px;}


.drop-zone .active.row-0 {transform: translateY(150px);}
.drop-zone .active.row-1 {transform: translateY(250px);}
.drop-zone .active.row-2 {transform: translateY(350px);}
.drop-zone .active.row-3 {transform: translateY(450px);}
.drop-zone .active.row-4 {transform: translateY(550px);}
.drop-zone .active.row-5 {transform: translateY(650px);}

.drop-zone .active.active.column--.active.row-- {transition: none;}

.drop-zone div {
    background-color: aqua;
    place-content: center;
}

.drop-zone div p{
    display: grid;
    place-content: center;
}

.drop-zone .winner-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 120px;
    transform: translate(-50%, -50%);
    background: white;
    border: 3px solid #333;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(19, 12, 230, 0.6);
    z-index: 1000; /*para sobrepor aos outros todos*/
    text-align: center;
    font-size: 1.5rem;
}

.drop.zone .winner-popup h2 {
    margin-bottom: 20px;
}

.drop-zone .winner-popup button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #0077ff;
    color: white;
    cursor: pointer;
  }